INQUIRY_EMAIL_TO=quotes@marksengineering.co
INQUIRY_EMAIL_FROM="MARKS Website <onboarding@resend.dev>"
RESEND_API_KEY=
MONGODB_URI=
MONGODB_DB=marks_engineering
ADMIN_PASSWORD=mark2025
ADMIN_SESSION_SECRET=9jjnsa2enuao3nqamo9snaj3
NEXT_PUBLIC_SITE_URL=http://localhost:3000
